<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>368364080745-ijc4r3nk04l3c5enas7r4i9mcv7jlvsm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.368364080745-ijc4r3nk04l3c5enas7r4i9mcv7jlvsm</string>
	<key>API_KEY</key>
	<string>AIzaSyD6SzM3aFY8RjSg-vsmwoelNHZM-Y3x9XU</string>
	<key>GCM_SENDER_ID</key>
	<string>368364080745</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.roy.firebaseChat</string>
	<key>PROJECT_ID</key>
	<string>flutter-widget-weekly</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-widget-weekly.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:368364080745:ios:febf90e98a72e413</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-widget-weekly.firebaseio.com</string>
</dict>
</plist>